<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Images
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide *ngFor="let document of data$ | async;">
      <ion-img src="{{document.url}}" size="50"></ion-img>
      <!--<ion-title>
        {{document.title}}
        {{document.description}}
        {{document.date.split("T")[0] }}
      </ion-title>-->
    </ion-slide>
  </ion-slides>
</ion-content>